@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.section {
  -webkit-margin-after: 16rem;
          margin-block-end: 16rem;
}
@media only screen and (max-width: 57em) {
  .section {
    -webkit-margin-after: 12rem;
            margin-block-end: 12rem;
  }
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-primary: #d87d4a;
  --clr-primary-light: #fbaf85;
  --clr-neutral-dark-100: #101010;
  --clr-neutral-dark-200: #141414;
  --clr-neutral-light-100: #fafafa;
  --clr-neutral-light-200: #f1f1f1;
  --clr-white: #fff;
  --clr-black: #000;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 4rem;
  background-color: transparent;
  z-index: 100;
}
@media only screen and (max-width: 40.625em) {
  header {
    padding-block: 3.45rem;
    padding-inline: 2.4rem;
  }
}
@media only screen and (max-width: 18.75em) {
  header {
    padding-inline: 1.2rem;
  }
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 16rem;
}
header .container .logo {
  width: 25rem;
  height: 100%;
  position: relative;
}
header .container .logo img {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .container .logo a {
  display: block;
}
header .container .mobile-nav-toggle {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  height: 2rem;
  width: 2.4rem;
  z-index: 9999;
  cursor: pointer;
}
@media only screen and (max-width: 40.625em) {
  header .container .mobile-nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .container .mobile-nav-toggle .hamburger {
  width: 100%;
  height: 4px;
  position: relative;
  background-color: var(--clr-black);
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}
header .container .mobile-nav-toggle .hamburger::before, header .container .mobile-nav-toggle .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--clr-black);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
header .container .mobile-nav-toggle .hamburger::before {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
}
header .container .mobile-nav-toggle .hamburger::after {
  -webkit-transform: translateY(0.8rem);
          transform: translateY(0.8rem);
}
header .container .mobile-nav-toggle[aria-expanded=true] .hamburger {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  background-color: transparent;
  pointer-events: none;
}
header .container .mobile-nav-toggle[aria-expanded=true] .hamburger::before {
  -webkit-transform: rotate(45deg) translate(3.5rem, -3.5rem);
          transform: rotate(45deg) translate(3.5rem, -3.5rem);
}
header .container .mobile-nav-toggle[aria-expanded=true] .hamburger::after {
  -webkit-transform: rotate(-45deg) translate(3.5rem, 3.5rem);
          transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}
header .container .upper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  margin-bottom: 2rem;
}
header .container .upper-menu div {
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
}
header .container .upper-menu div:hover i {
  color: #ffc23b;
}
header .container .upper-menu div i {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
header .container .upper-menu .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}
header .container .upper-menu .language:hover, header .container .upper-menu .language:active {
  background-color: #ffc23b;
}
header .container .upper-menu .language.active {
  background-color: #ffc23b;
}
header .container .primary-navigation {
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .container .primary-navigation[data-visible=true] {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}
@media only screen and (max-width: 40.625em) {
  header .container .primary-navigation {
    display: block;
    position: fixed;
    background-color: var(--clr-black);
    color: var(--clr-white);
    top: 9.6rem;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
  }
}
header .container .primary-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.4rem;
     -moz-column-gap: 3.4rem;
          column-gap: 3.4rem;
  text-transform: uppercase;
  height: 100%;
}
@media only screen and (max-width: 40.625em) {
  header .container .primary-navigation ul {
    padding-block: 4.8rem;
    padding-inline: 2.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.5rem;
    width: 100%;
  }
}
header .container .primary-navigation ul li {
  font-size: 1.8rem;
  line-height: 1.4rem;
  letter-spacing: 1px;
}
@media only screen and (max-width: 40.625em) {
  header .container .primary-navigation ul li {
    width: 100%;
    font-size: 2.4rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
  }
}
header .container .primary-navigation ul li a {
  display: inline-block;
  padding-bottom: 1rem;
  color: #fff;
  border-bottom: 4px solid transparent;
  -webkit-transition: border-bottom 250ms ease-in-out;
  transition: border-bottom 250ms ease-in-out;
}
header .container .primary-navigation ul li a:hover {
  border-bottom: 4px solid #ffc23b;
}
header .container .primary-navigation ul li a.active {
  border-bottom: 4px solid #ffc23b;
}
@media only screen and (max-width: 40.625em) {
  header .container .primary-navigation ul li a {
    color: var(--clr-white);
  }
}
header .nav-overlay {
  position: fixed;
  z-index: -1;
  background-color: rgba(29, 28, 30, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .nav-overlay[data-visible=true] {
  z-index: 999;
  top: 9.6rem;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.banner .slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.banner .slide {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}
.banner .slide .banner-title {
  position: absolute;
  inset: 0 0 0 0;
  opacity: 0;
  -webkit-transform: translateY(2.5rem);
          transform: translateY(2.5rem);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.banner .slide .banner-title.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.banner .slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
}
.banner .indicators {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.75rem;
     -moz-column-gap: 1.75rem;
          column-gap: 1.75rem;
}
.banner .indicators__indicator {
  border: none;
  background-color: #fff;
  opacity: 0.7;
  height: 5px;
  width: 5.5rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.banner .indicators__indicator--active {
  /* background-color: #fff; */
  background-color: #ffc23b;
  opacity: 1;
}