.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.section {
  margin-block-end: 16rem;
  padding-inline: 2.5rem;

  @include respond(tab-port) {
    margin-block-end: 12rem;
  }
}

.container {
  max-width: 124rem;
  margin: 0 auto;
}
